html {
    width: 100%;
}

body {
    background: #e2e7ec;
    width: 100%;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #e2e7ec;
    min-width: 800px;
    max-width: 1200px;
}
.card {
    height: 540px;
    background: white;
    margin: 10px;
    width: calc(100% / 3 - 20px);
    display: flex;
    flex-direction: column;
}

.card__main {
    width: calc(200% / 3 - 20px);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.80) 100%), url("../images/bg_car.png");
    background-size: cover;
}

.card_title--white {
    color: #ffffff;
}

.card_date,
.card_title {
    margin: 20px 30px;
}
.card_date {
    color: grey;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1;
}
.card_title {
    text-transform: uppercase;
    font-size: 22px;
    line-height: 30px;
    font-weight: normal;
    margin-top: auto;
}

.card_container {
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.card_image {
    height: 100%;
    width: 100%;
}

.card_author {
    width: 54px;
    height: 54px;
    background: url("../images/pf_autor.png");
    margin: 30px;
    margin-top: auto;
}