body {
    background-color: #ff0000;
    padding: 0;
}

div {
    margin: 20px;
}

div.main {
    margin: 0;
}

div.orange {
    background-color: #ffA500;
    width: 800px;
    height: 100px;
    margin-bottom: 0;
}

div.green {
    display: inline-block;
    background-color: #008000;
    width: 500px;
    height: 700px;
}


div.black {
    background-color: #000000;
    width: 70px;
    height: 70px;
}

div.black.tall {
    height: 160px;
    float: left;
}

div.block1 {
    float: left;
}

div.container {
    display: inline-block;
    margin: 0;
    vertical-align: top;
}

div.blue {
    background-color: #0000ff;
    height: 100px;
    width: 280px;
}

div.purple {
    background-color: #800080;
    width: 800px;
    height: 70px;
    margin-top: 0;
}