body {
    background-color: #eeeeee;
}

.black {
    background-color: #000000;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
}

.white {
    background-color: #ffffff;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
}

.row-first {
    position: relative;
}

.row-first .black.one {
    position: absolute;
}

.row-first .white.one {
    position: absolute;
    left: 50px;
}

.row-first .black.two {
    position: absolute;
    left: 100px;
}

.row-first .white.two {
    position: absolute;
    left: 150px;
}

.row-first .black.three {
    position: absolute;
    left: 200px;
}

.row-first .white.three {
    position: absolute;
    left: 250px;
}

.row-first .black.four {
    position: absolute;
    left: 300px;
}

.row-first .white.four {
    position: absolute;
    left: 350px;
}

.row-second {
    position: relative;
    top: 50px;
}

.row-second .white.one {
    position: absolute;
}

.row-second .black.one {
    position: absolute;
    left: 50px;
}

.row-second .white.two {
    position: absolute;
    left: 100px;
}

.row-second .black.two {
    position: absolute;
    left: 150px;
}

.row-second .white.three {
    position: absolute;
    left: 200px;
}

.row-second .black.three {
    position: absolute;
    left: 250px;
}

.row-second .white.four {
    position: absolute;
    left: 300px;
}

.row-second .black.four {
    position: absolute;
    left: 350px;
}

.row-third {
    position: relative;
    top: 100px;
}

.row-third .black.one {
    position: absolute;
}

.row-third .white.one {
    position: absolute;
    left: 50px;
}

.row-third .black.two {
    position: absolute;
    left: 100px;
}

.row-third .white.two {
    position: absolute;
    left: 150px;
}

.row-third .black.three {
    position: absolute;
    left: 200px;
}

.row-third .white.three {
    position: absolute;
    left: 250px;
}

.row-third .black.four {
    position: absolute;
    left: 300px;
}

.row-third .white.four {
    position: absolute;
    left: 350px;
}

.row-fourth {
    position: relative;
    top: 150px;
}

.row-fourth .white.one {
    position: absolute;
}

.row-fourth .black.one {
    position: absolute;
    left: 50px;
}

.row-fourth .white.two {
    position: absolute;
    left: 100px;
}

.row-fourth .black.two {
    position: absolute;
    left: 150px;
}

.row-fourth .white.three {
    position: absolute;
    left: 200px;
}

.row-fourth .black.three {
    position: absolute;
    left: 250px;
}

.row-fourth .white.four {
    position: absolute;
    left: 300px;
}

.row-fourth .black.four {
    position: absolute;
    left: 350px;
}

.row-fifth {
    position: relative;
    top: 200px;
}

.row-fifth .black.one {
    position: absolute;
}

.row-fifth .white.one {
    position: absolute;
    left: 50px;
}

.row-fifth .black.two {
    position: absolute;
    left: 100px;
}

.row-fifth .white.two {
    position: absolute;
    left: 150px;
}

.row-fifth .black.three {
    position: absolute;
    left: 200px;
}

.row-fifth .white.three {
    position: absolute;
    left: 250px;
}

.row-fifth .black.four {
    position: absolute;
    left: 300px;
}

.row-fifth .white.four {
    position: absolute;
    left: 350px;
}

.row-sixth {
    position: relative;
    top: 250px;
}

.row-sixth .white.one {
    position: absolute;
}

.row-sixth .black.one {
    position: absolute;
    left: 50px;
}

.row-sixth .white.two {
    position: absolute;
    left: 100px;
}

.row-sixth .black.two {
    position: absolute;
    left: 150px;
}

.row-sixth .white.three {
    position: absolute;
    left: 200px;
}

.row-sixth .black.three {
    position: absolute;
    left: 250px;
}

.row-sixth .white.four {
    position: absolute;
    left: 300px;
}

.row-sixth .black.four {
    position: absolute;
    left: 350px;
}

.row-seventh {
    position: relative;
    top: 300px;
}

.row-seventh .black.one {
    position: absolute;
}

.row-seventh .white.one {
    position: absolute;
    left: 50px;
}

.row-seventh .black.two {
    position: absolute;
    left: 100px;
}

.row-seventh .white.two {
    position: absolute;
    left: 150px;
}

.row-seventh .black.three {
    position: absolute;
    left: 200px;
}

.row-seventh .white.three {
    position: absolute;
    left: 250px;
}

.row-seventh .black.four {
    position: absolute;
    left: 300px;
}

.row-seventh .white.four {
    position: absolute;
    left: 350px;
}

.row-eighth {
    position: relative;
    top: 350px;
}

.row-eighth .white.one {
    position: absolute;
}

.row-eighth .black.one {
    position: absolute;
    left: 50px;
}

.row-eighth .white.two {
    position: absolute;
    left: 100px;
}

.row-eighth .black.two {
    position: absolute;
    left: 150px;
}

.row-eighth .white.three {
    position: absolute;
    left: 200px;
}

.row-eighth .black.three {
    position: absolute;
    left: 250px;
}

.row-eighth .white.four {
    position: absolute;
    left: 300px;
}

.row-eighth .black.four {
    position: absolute;
    left: 350px;
}

.red {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #e10011;
}

.grey {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #454545;
}


