html {
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(45deg, rgba(255,81,47,1) 0%, rgba(221,36,118,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,81,47,1)), color-stop(100%, rgba(221,36,118,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(255,81,47,1) 0%, rgba(221,36,118,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(255,81,47,1) 0%, rgba(221,36,118,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(255,81,47,1) 0%, rgba(221,36,118,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(255,81,47,1) 0%, rgba(221,36,118,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd2476', endColorstr='#ff512f',GradientType=1 ); /* ie6-9 */
    background-repeat: no-repeat;
    background-size: auto;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.card {
    width: 398px;
    height: 416px;
    background-color: #ffffff;
    border-radius: 4px;
    position: relative;
    margin: auto;
    top: 61px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 31px 27px;
}

.card__image {
    position: relative;
}

.card__title {
    margin-left: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #1b1c1d;
    display: inline-block;
    margin-bottom: 15px;
    margin-top: 0;
}

.card__subtitle {
    color: #7a7b7f;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 34px;
    margin-top: 0;
}

.card__link {
    color: #ea355a;
    text-decoration: none;
}

.card__input {
    border-radius: 4px;
    background-color: #f0f0f0;
    border: none;
    width: 386px;
    height: 40px;
    margin-bottom: 15px;
    padding-left: 14px;
    font-size: 14px;
    color: #7a7b7f;
}

.card__input--small {
    width: 179px;
}

.card__wrapper {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.card__button {
    background-color: #ea355a;
    width: 400px;
    height: 50px;
    border-radius: 5px;
    border: none;
    border-bottom: 3px solid #bd1962;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 26px;
}


