html {
    height: 100%;
}

body {
    font-family: “Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
    height: 100%;
    background-color: #3399cc;
    padding: 0;
    margin: 0;
    color: #ffffff;
    border: 20px solid #2b81ac;
}

/*div.forecast:hover {*/
    /*background-color: #ffffff;*/
    /*z-index: 1;*/
/*}*/

h1 {
    font-weight: normal;
    font-size: 25px;
    margin: 25px 0 15px 150px;
}

p.medium {
    text-align: center;
    vertical-align: middle;
}

p.small {
    text-align: center;
    vertical-align: middle;
}

p.big {
    text-align: center;
    vertical-align: middle;
}

p {
    line-height: 40px;
}


ul {
    max-width: 800px;
    max-height: 510px;
    box-sizing: border-box;
    font-size: 0;
    margin: 10px 0 0 150px;
    padding: 0;
    border: 5px solid #ffffff;
}

ul:hover li {
    opacity: 0.5;
}

p.ending {
    margin: 25px 0 0 150px;
    font-size: 18px;
}

li {
    list-style-type: none;
    display: inline-block;
    font-size: 20px;
    font-weight: lighter;
    box-sizing: border-box;
}

li.medium {
    width: 50%;
    height: 25%;
}

li.small {
    width: 25%;
    height: 25%;
}

li.big {
    width: 100%;
    height: 25%;
}

li.medium.blue{
    background-color: #3399cc;
    border-bottom: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
}

li.medium.blue:hover {
    opacity: 1;
}

li.small.light-blue {
    background-color: #33cccc;
    border-bottom: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
}

li.small.light-blue:hover {
    opacity: 1;
}

li.small.light-purple {
    background-color: #996699;
    border-bottom: 5px solid #ffffff;
}

li.small.light-purple:hover {
    opacity: 1;
}

li.small.red {
    background-color: #c24747;
    border-bottom: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
}

li.small.red:hover {
    opacity: 1;
}

li.small.orange {
    background-color: #e2674a;
    border-bottom: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
}

li.small.orange:hover {
    opacity: 1;
}

li.small.yellow {
    background-color: #ffcc66;
    border-bottom: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
}

li.small.yellow:hover {
    opacity: 1;
}

li.small.light-green {
    background-color: #99cc99;
    border-bottom: 5px solid #ffffff;
}

li.small.light-green:hover {
    opacity: 1;
}

li.small.grey {
    background-color: #669999;
    border-bottom: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
}

li.small.grey:hover {
    opacity: 1;
}

li.medium.pink {
    background-color: #cc6699;
    border-bottom: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
}

li.medium.pink:hover {
    opacity: 1;
}

li.small.green {
    background-color: #339966;
    border-bottom: 5px solid #ffffff;
}

li.small.green:hover {
    opacity: 1;
}

li.big.purple {
    background-color: #666699;
}

li.big.purple:hover {
    opacity: 1;
}

span {
    color: #ffffff;
    opacity: 0.6;
}