*,
::before,
::after {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eeeeee;
    font: 18px/24px Raleway, sans-serif;
    color: #303030;
}

.wrap {
    width: 1200px;
    margin: auto;
}

.nav-main {
    font-size: 0;
}

.menu {
    width: 17px;
    height: 14px;
    background-image: url(../images/Menu.png);
    display: inline-block;
}

.nav-main-links a {
    font: 18px/1 Roboto, sans-serif;
    text-decoration: none;
    letter-spacing: 0.25em;
    color: #303030;
    margin-right: 50px;
}

.nav-main-links,
.nav-main-logo {
    display: inline-block;
    width: 50%;
}

header {
    padding: 50px 0 50px 40px;
}

.product {
    background: #ffffff;
    border-radius: 5px;
    padding: 70px 63px;
    font-size: 0;
}

.product-text {
    padding: 50px 0 71px 5px;
}

.product-text h2{
    font-family: "Raleway", sans-serif;
    font-size: 48px;
    color: #303030;
    font-weight: 900;
    text-align: center;
}

.product-text img {
    padding: 17px 0 0 403px;
}

.product-text p {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

.product-item {
    width: 328px;
    height: 387px;
    overflow: hidden;
    display: inline-block;
    border-radius: 10px;
    margin: 0 15px;
    background: #eeeeee;
    cursor: pointer;
}

.product-image {
    transition: all .5s;
}

.product-item:hover .product-image {
    transform: scale(1.05);
}

.product-item-strong {
    width: 686px;
}

.product-overlay {
    display: none;
    width: inherit;
    height: inherit;
    background: #e10011;
    color: #ffffff;
    font-size: 20px;
}

.product-item:hover .product-overlay {
    display: block;

}

.product-item:hover .product-image {
    display: none;
}

.subscribe {
    background: #ffffff;
    border-radius: 100px;
    width: 715px;
    margin: 50px auto;
    height: 70px;
}


.subscribe-form {
    height: 100%;
    font-size: 0;
}

.subscribe-button {
    background: #e10011;
    color: #ffffff;
    font: 18px/1 Roboto, sans-serif;
    text-transform: uppercase;
    border: 0;
    height: 100%;
    width: 215px;
    border-radius: 0 100px 100px 0;
}

.subscribe-input {
    color: #979797;
    font-size: 18px;
    border: 0;
    height: 100%;
    width: 400px;
    margin-left: 100px;
    vertical-align: top;
    font-family: "Raleway", sans-serif;
    font-style: italic;
    font-weight: 600;
}

div.slider {
    max-width: 1200px;
    max-height: 720px;
}


.slider-text {
    display: inline-block;
    padding-left: 30px;
}

.slider-text h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 150px;
    line-height: 150px;
    text-align: right;
}

.slider-text p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    text-align: right;
}

.slider-image {
    padding: 50px 0;
    display: inline-block;
    margin: 0 0 0 120px;
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(244,244,244,1) 31%,rgba(238,238,238,1) 100%);
}

p.red {
    padding-top: 20px;
    color: #e10011;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

div.dots {
    margin: 20px 0 103px 610px;
}

div.dots div {
    display: inline-block;
    width: 11px;
    height: 11px;
    background-color: #303030;
    border-radius: 11px;
    margin-right: 5px;
}

div.dots div.red-dot {
    background-color: #e10011;
}