body {
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
    padding: 50px;
}

h1 {
    text-decoration: underline;
}

img {
    width: 300px;
    height: 300px;
    border: 5px solid #ffffff;
    float: left;
    margin: 20px 10px 20px 20px;
}

span {
    font-weight: bold;
}

.main-info {
    float: left;
    height: 290px;
    margin: 20px 20px 20px 10px;
}

.middle-education {
    float: left;
    width: 500px;
    margin: 20px 10px 20px 20px;
}

.high-education {
    float: right;
    width: 500px;
    margin: 20px 20px 20px 10px;
}

.work-experience-first {
    float: left;
    width: 500px;
    margin: 20px 10px 20px 20px;
}

.work-experience-second {
    float: right;
    width: 500px;
    margin: 20px 20px 20px 10px;
}

.skills {
    float: left;
    width: 500px;
    margin: 20px 10px 20px 20px;
    height: 192px;
}

.soft-skills {
    float: right;
    width: 500px;
    margin: 20px 20px 20px 10px;
}

.contact-info {
    margin: 20px;
}