[class*="grid__item"] {
    background-color: grey;
    height: 30px;
    height: 100%;
}

.grid {
    width: 1200px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: calc(33.33% - 10px) 1fr 1fr calc(33.33% - 10px);
    grid-template-rows: 150px 320px 180px 135px;
    align-items: stretch;
}

.grid__container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: calc(33.33% - 10px) 1fr 1fr calc(33.33% - 10px);
    align-items: stretch;
}

.grid__item1 {
    grid-column: 1 / 3;
    background-image: url(http://via.placeholder.com/600x150/94DFC6/5D6264);
}

.grid__item2 {
    grid-column: 3 / 5;
    background-image: url(http://via.placeholder.com/600x150/3DC5C8/5D6264);
}

.grid__item3 {
    grid-column: 1 / 3;
    background-image: url(http://via.placeholder.com/600x320/FF686C/FFFFFF);
}

.wrapper-1 {
    grid-column: 3 / 5;
    grid-template-rows: 155px 145px;
}

.grid__item4 {
    grid-column: 1 / 2;
    background-image: url(http://via.placeholder.com/200x165/9795EF/FFFFFF);
}

.grid__item5 {
    grid-column: 2 / 4;
    background-image: url(http://via.placeholder.com/200x165/9795EF/FFFFFF);
}

.grid__item6 {
    grid-column: 4 / 5;
    background-image: url(http://via.placeholder.com/200x165/9795EF/FFFFFF);
}

.grid__item7 {
    grid-column: 1 / 3;
    background-image: url(http://via.placeholder.com/300x150/FFC55C/5D6264);
}

.grid__item8 {
    grid-column: 3 / 5;
    background-image: url(http://via.placeholder.com/300x150/FFC55C/5D6264);
}

.grid__item9 {
    grid-column: 1 / 2;
    background-image: url(http://via.placeholder.com/400x185/4D8CD0/FFFFFF);
}

.grid__item10 {
    grid-column: 2 / 4;
    background-image: url(http://via.placeholder.com/400x185/4D8CD0/FFFFFF);
}

.wrapper-2 {
    grid-column: 4 / 5;
}

.grid__item11 {
    grid-column: 1 / 3;
    background-image: url(http://via.placeholder.com/200x185/4D8CD0/FFFFFF);
}

.grid__item12 {
    grid-column: 3 / 5;
    background-image: url(http://via.placeholder.com/200x185/4D8CD0/FFFFFF);
}

.wrapper-3 {
    grid-column: 1 / 4;
}

.grid__item13 {
    grid-column: 1 / 2;
    background-image: url(http://via.placeholder.com/200x145/8052A8/FFFFFF);
}

.grid__item14 {
    grid-column: 2 / 5;
    background-image: url(http://via.placeholder.com/600x145/8052A8/FFFFFF);
}

.grid__item15 {
    grid-column: 4 / 5;
    background-image: url(http://via.placeholder.com/400x145/8052A8/FFFFFF);
}
