html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
    font-family: “Trebuchet MS”, Trebuchet, Arial, sans-serif;
}

header {
    background-color: #4a4f56;
    color: #eb7e7f;
    width: 100%;
    margin: 0;
    padding-top: 30px;
    height: 88px;
}

div.main {
    background-color: #3b3f45;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 0;
    font-size: 35px;
    font-weight: bold;
}

p {
    text-align: center;
    margin: 0;
    font-size: 23px;
    font-weight: lighter;
}

ul {
    width: 700px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
}

span.smaller {
    color: #c8c8c9;
    font-size: 16px;
}

li {
    list-style-type: none;
    display: inline;
    height: 27px;
    padding: 18px 7px;
}

span {
    font-size: 23px;
    font-weight: lighter;
    color: #ffffff;
}

li:nth-child(odd) {
    background-color: #88839e;
}

li:nth-child(even) {
    background-color: #7a7593;
}
label {
    position: absolute;
    width: 100%;
    height: 100%;
}

input[type="submit"] {
    display: block;
    margin: 0 auto;
    width: 700px;
    height: 63px;
}

li:hover {
    background-color: #625e77;
    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
}

li:active {
    background-color: #eb7e7f;
}

*:checked + span {
    color: #9f99ab;
    text-decoration: line-through;
}

* {
    transition: all .1s ease-in;
}

li.hidden {
    display: none;
}

li.pop-up:checked ~ li.hidden {
    display: inline;
}