body {
    margin: 0;
}

.wrapper {
    background: linear-gradient(to right, rgba(102, 61, 151, .8), rgba(172, 113, 175, .8)), url(../images/background-space.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.header {
    height: 48px;
    text-align: center;
    padding: 26px 65px 0;
    box-sizing: border-box;
    text-align-last: justify;
}

.logo,
.main-nav,
.burger-menu {
    display: inline-block;
    vertical-align: middle;
}

.menu-square__line {
    width: 22px;
    height: 1px;
    background-color: white;
    margin: 5px 0;
}

.main-nav__link {
    display: inline-block;
    box-sizing: border-box;
    margin: 0 24px;
    padding: 5px 0;
    border: 1px solid transparent;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12px;
}

.main-nav__link:hover {
    background-size: 1px;
    border-color: transparent transparent white;
}

.card {
    width: 750px;
    height: 428px;
    background-color: #f4f4f4;
    box-shadow: 25px  0px 0px -11px rgba(255,255,255,.25),
    -25px 0px 0px -11px rgba(255,255,255,.25),
    46px  0px 0px -19px rgba(255,255,255,.25),
    -46px 0px 0px -19px rgba(255,255,255,.25);
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
}

.card-image {
    display: inline-block;
    width: 500px;
    vertical-align: top;
    height: 100%;
    background: linear-gradient(to bottom, rgba(237,234,236,1) 0%,rgba(235,232,234,1) 10%,rgba(221,212,219,0) 100%);
    background-size: 100% 95px;
    background-repeat: no-repeat;
    background-position: top;
}

.photoviewer {
    position: relative;
    text-align: center;
}

.photoviewer__title {
    position: absolute;
    top: 63px; right: 0;
    height: 160px;
    width: 100%;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 72px;
    text-transform: uppercase;
    color: white;
    letter-spacing: .1em;
    text-align: center;
    padding: 24px 0;

    background: url(../images/background-for-image.png);
}

.photoviewer__image {
    display: inline-block;
    position: relative;
    margin: 95px auto 0;
}

.photoviewer__preview {
    margin: 22px auto;
}

.slider {
    margin: 0 auto;
    text-align: center;
}

.slider__link {
    margin: 0 9px;
}

.card-info {
    display: inline-block;
    width: 250px;
    vertical-align: top;
    background-color: white;
    height: 100%;
    padding: 32px;
    box-sizing: border-box;
}

.card-info__ad {
    display: inline-block;
    text-transform: uppercase;
    padding: 7px;
    color: white;
    background-color: #ffa60d;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .01em;

}

.card-info__tag-line {
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: .01em;
    margin: 12px 0;
}

.card-info__tag-line--strong {
    color: #5e4fff;
    font-weight: normal;
}

.brand-rating {
    margin: 18px 0;
}

.brand {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: .01em;
    display: inline-block;
}

.rating {
    display: inline-block;
}

.rating__star {
    display: inline-block;
}

.rating__star--fill-not {
    opacity: .5;
}

.price {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 22px;
    letter-spacing: .01em;
}

.size {
    margin: 28px auto;
    display: block;
    text-align-last: justify;
}

.size__name {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: .01em;
    margin: 5px 0;
}

.size__item {
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .01em;
    padding: .1em .4em;
    border: solid 1px transparent;
}


.size__item--no-radio {
    display: none;
}

.size__item--no-radio:checked+.size__item {
    border: solid 1px black;
}

.btn-add-to-cart {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: .01em;
    width: 118px;
    height: 30px;
    border: 0;
    color: white;
    background: #a200b8;
    margin: 2px 0;
    text-transform: uppercase;
}

.btn-wishlist {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: .01em;
    width: 118px;
    height: 30px;
    background: white;
    margin: 2px 0;
    border: solid 1px black;
    box-sizing: border-box;
    text-transform: uppercase;
}