body {
    background-color: #eeeeee;
}

.black {
    background-color: #000000;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
}

.white {
    background-color: #ffffff;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
}

.row {
    width: 400px;
    display: block;
}

.black, .white {
    float: left;
}

.red {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #e10011;
}

.grey {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #454545;
}


