@font-face {
    font-family: 'miso-bold';
    src: url('miso-bold-webfont.woff2') format('woff2'),
    url('miso-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'miso-light';
    src: url('miso-light-webfont.woff2') format('woff2'),
    url('miso-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'miso-regular';
    src: url('miso-regular-webfont.woff2') format('woff2'),
    url('miso-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



html {
    width: 100%;
    height: 100%;
    background-color: #fdde7e;
    font-family: 'Miso', sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card__cup {
    padding-top: 22px;
    padding-bottom: 22px;
    width: 27%;
    height: 50%;
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: 0.3s ease-out 0.1s;
}

.card__cup:hover {
    height: 60%;
    transition: 0.3s ease-out 0.1s;
}

.card__price {
    font-weight: bold;
    color: #02995b;
    font-size: 70px;
}

.card__title {
    font-weight: 300;
    font-size: 56px;
    color: #333333;
}

.card__subtitle {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    color: #333333;
    text-align: center;
    line-height: 26px;
}

.card__image {
    width: 134px;
    height: 135px;
}