.body {
    background-image: url(../nike_images/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    background-color: #111a28;
    width: 1000px;
    height: 500px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 50px #000000;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.logo {
    margin: 20px;
    padding: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.logo__Logo-image {
    width: 90px;
    display: inline-block;
}

.image {
    margin: 30px;
    padding: 20px;
    width: 550px;
}

.image__Image-picture {
    width: 450px;
}

.info {
    /*margin: 30px;*/
    /*padding: 20px;*/
    /*font-family: 'Quicksand', sans-serif;*/
    font-family: 'Raleway', sans-serif;
    color: #e1e1e1;
}

.info__Heading {
    margin: 0;
    padding: 0;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 100;
}

.info__Text {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 40px;
}

.star {
    margin-bottom: 40px;
}



.select {
    margin-bottom: 40px;
}

.select__Element1 {
    display: inline-block;
    border: 1px solid #e1e1e1;
    padding: 10px 15px;
}

.select__Element2 {
    display: inline-block;
    border: 1px solid #e1e1e1;
    padding: 10px 15px
}

.info__Commit {
    border: 1px solid #e1e1e1;
    padding: 15px 60px;
    background-color: #202835;
}

.slider-pagination {
    position: relative;
    top: 30px;
    left: 250px;
    width: 250px;
}

.slider-pagination__Element {
    width: 11px;
    height: 11px;
    display: inline-block;
    border-radius: 10px;
    margin-right: 10px;
    border: 3px solid transparent;
}

.slider-pagination__Element:hover {
    border: 3px solid #e1e1e1;
}

.slider-pagination__Element1_color_dark-blue {
    background-color: #1f273f;
}

.slider-pagination__Element2_color_white {
    background-color: #ffffff;
}

.slider-pagination__Element3_color_red {
    background-color: #ed3333;
}

.slider-pagination__Element1_color_blue {
    background-color: #29e3ea;
}

