div.roboto {
    font-family: "Roboto", sans-serif;
}


div.open_sans {
    font-family: "Open Sans", sans-serif;
}

div.open_sans h1 {
    font-weight: normal;
}

div.open_sans p {
    font-weight: 300;
}

div.montserrat {
    font-family: 'Montserrat', sans-serif;
}

div.montserrat h1 {
    font-weight: normal;
    font-style: italic;
}

div.montserrat p {
    font-weight: 300;
    font-style: italic;
}