body {
    font-family: 'Nosifer', cursive;
    font-size: 100px;
}

p.black_red {
    text-shadow: red 5px 3px 4px ;
}

p.white_red_black {
    color: #ffffff;
    text-shadow: red 5px 3px 4px,
                 #000000 -5px -3px 4px;
}

p.blurred {
    text-shadow: #000000 0 0 20px;
    color: transparent;
}