body {
    background-color: #eeeeee;
    color: #303030;
}

header {
    width: 1430px;
    height: 52px;
    display: flex;
    flex-direction: row;
}

h2.first-header {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 48px;
    width: 280px;
}

div.menu {
    width: 400px;
    display: flex;
    flex-direction: row;
}

div.menu p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

section div h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 150px;
    text-align: right;
    line-height: 150px;
}

section.first-section div p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    text-align: right;

}

section.first-section div p.red {
    color: #e10011;
    font-weight: 700;
}