body {
    padding: 0;
    margin: 0;
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
    color: #c2c2c2;
}

.main_block {
    display: inline-block;
}

/*.people {*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*width: 350px;*/
/*}*/

/*.popular {*/
    /*display: flex;*/
    /*flex-direction: column;*/
/*}*/

/*.recent {*/
    /*display: flex;*/
    /*flex-direction: column;*/
/*}*/

div.circle {
    width: 50px;
    height: 50px;
    background-position: center;
    border-radius: 30px;
}

/*p {*/
    /*display: flex;*/
    /*flex-direction: row;*/
/*}*/

.first_column {
    display: flex;
    flex-direction: row;
    background-color: #ebebed;
    color: #c2c2c2;
}

.second_column {
    display: flex;
    flex-direction: row;
    background-color: #ebebed;
    color: #c2c2c2;
}

.third_column {
    display: flex;
    flex-direction: row;
    background-color: #ebebed;
    color: #c2c2c2;
}

div.square {
    width: 50px;
    height: 50px;
    background-position: center;
}