@font-face {
    font-family: Lato;
    src: url('../fonts/');
}

.wrapper {
    width: 1140px;
    margin: auto;
    height: 100%;
}

.hero {
    height: 650px;
    background: linear-gradient(rgba(60,73,85,.86), rgba(60,73,85,.86)), url(../images/computer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    min-width: 1140px;
}

.header {
    position: relative;
    padding: 36px 0 0;
}

.logo {
    display: inline-block;
    vertical-align: middle;
}

.main-nav {
    display: inline-block;
    text-align: right;
    position: relative;
    left: 400px;
}

.main-nav__item {
    display: inline-block;
}

.main-nav__item:not(:first-child)::before {
    content: "/";
    color: rgba(38,50,61,.3);
    display: inline-block;
    margin: 0 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.main-nav__link {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.hero__title {
    font-family: 'BigJohn', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 46px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    margin-top: 157px;
    margin-bottom: 32px;
    padding: 0;
    line-height: 1em;
}

.hero__subtitle {
    font-family: 'SlimJoe', sans-serif;
    font-style: normal;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    padding: 0;
    line-height: 1em;
}

.button {
    display: block;
    width: 134px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 2px solid currentColor;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
    margin: auto auto;
}

.button--hero {
    color: #48bf72;
    margin-top: 49px
}

.portfolio {
    height: 1051px;
    background-color: #f9f9f9;
    min-width: 1140px;
}

.filter {
    display: block;
    font-size: 0px;
    margin: 0 auto 12px;
    padding: 50px;
    text-align: center;
}

.filter__item {
    text-decoration: none;
    background-color: #eaeaea;
    border-radius: 2px;
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #3c4955;
    margin: 0 4.5px;
    padding: 9px 14px;
    box-sizing: border-box;
}

.filter__item--hover:hover {
    background-color: #48bf72;
    color: white;
}

.grid {
    margin: 52px auto;
    position: relative;
    width: 1140px;
    height: 828px;
}

.item {
    border-radius: 8px;
    position: absolute;
    width: 450px;
    height: 300px;
    background: cyan;
    background-position: center;
    background-fill: cover;
}

.item--1 {
    width: 450px;
    height: 302px;
    left: 0; top: 0;
    background-image: url(../images/lilstuff.jpg);
}

.item--2 {
    width: 650px;
    height: 438px;
    right: 0; top: 0;
    background-image: url(../images/bigstuff.jpg);
}

.item--3 {
    width: 450px;
    height: 486px;
    left: 0; bottom: 0;
    background-image: url(../images/app.jpg);
}

.item--4 {
    width: 650px;
    height: 350px;
    right: 0; bottom: 0;
    background-image: url(../images/prototype.jpg);
}

.link {
    display: none;
    width: 100%; height: 100%;
    text-decoration: none;
    color: white;
    text-align: center;
}

.item:hover .link--hover {
    display: block;
    background: rgba(72,191,114,.9);
    border-radius: 8px;
}

.link--middle {
    font-size: 0;
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

.link::before {
    display: inline-block;
    content: "";
    vertical-align: middle;
    height: 100%

}

.link__title {
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 30px;
    font-style: normal;
    color: #ffffff;
}

.link__subtitle {
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    color: #ffffff;
}

.about {
    height: 500px;
    background: linear-gradient(rgba(60,73,85,.86), rgba(60,73,85,.86)), url(../images/men-computer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    min-width: 1140px;
}

.about__name {
    margin: 0 0 8px 585px;
    padding-top: 92px;
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 30px;
    font-style: normal;
    color: white;
}

.about__skills {
    margin: 0 0 0 585px;
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 22px;
    font-style: normal;
    color: white;
}

.about__description {
    margin: 40px 0 0 585px;
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    color: white;
    line-height: 1.56em;
}

.button--about {
    margin: 36px 0 0 585px;
    color: #3c4955;
}

.contact-first {
    height: 566px;
    background-color: #f9f9f9;
    min-width: 1140px;
}

.form-group {
    display: block;
    border: 0;
    width: 700px;
    height: 462px;
    margin: auto;
    position: relative
}

.feedback__legend {
    display: block;
    margin: 0 auto 39px;
    font-family: BigJohn, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    color: #48bf72;
    text-align: center;
    padding-top: 51px;
    width: 100%;
}

.feedback__name {
    width: 335px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 2px solid #3c4955;
    margin: 15px 0;
    padding-left: 73px;
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-height: 16px;
    color: #3c4955;
    background: url(../images/user.png) 14px 12px,
    linear-gradient(135deg, #3c4955 50%, transparent 0),
    linear-gradient( 45deg, #3c4955 50%, transparent 0),
    linear-gradient(90deg, #3c4955 100%, transparent 0),
    #f1f1f1;
    background-size: auto, 6px 6px, 6px 6px, 50px 100%;
    background-position: 14px 12px, 50px 24px, 50px 18px, 0;
    background-repeat: no-repeat;
}
.feedback__email {
    width: 335px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 2px solid #3c4955;
    position: relative;
    left: 26px;
    margin: 15px 0;
    padding-left: 73px;
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-height: 16px;
    color: #3c4955;
    background: url(../images/mail.png) 14px 12px,
    linear-gradient(135deg, #3c4955 50%, transparent 0),
    linear-gradient( 45deg, #3c4955 50%, transparent 0),
    linear-gradient(90deg, #3c4955 100%, transparent 0),
    #f1f1f1;
    background-size: auto, 6px 6px, 6px 6px, 50px 100%;
    background-position: 14px 12px, 50px 24px, 50px 18px, 0;
    background-repeat: no-repeat;
}

.feedback__message {
    width: 700px;
    height: 228px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 2px solid #3c4955;
    margin: 15px 0;
    padding: 12px 5px 5px 73px;
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.56em;
    color: #3c4955;
    resize: none;
    background: url(../images/pensil.png) 14px 13px,
    linear-gradient(135deg, #3c4955 50%, transparent 0),
    linear-gradient( 45deg, #3c4955 50%, transparent 0),
    linear-gradient(90deg, #3c4955 100%, transparent 0),
    #f1f1f1;
    background-size: auto, 6px 6px, 6px 6px, 50px 100%;
    background-position: 14px 13px, 50px 24px, 50px 18px, 0;
    background-repeat: no-repeat;
}

.feedback__submit {
    width: 700px;
    height: 50px;
    background: #48bf72;
    border: 0;
    border-radius: 2px;
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    letter-spacing: .22em;
    margin: 15px 0;
}

.footer {
    height: 201px;
    background-color: #3c4955;
    min-width: 1140px;
}

.copyrights {
    display: inline-block;
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
    vertical-align: middle;
    width: 50%;
}

.copyrights--link {
    color: currentColor;
    text-decoration: none;
    font-weight: 700;
}

.wrapper--middle {
    font-size: 0;
}

.wrapper--middle::before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}

.social {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    text-align: right;
}

.social__item {
    margin: 0 20px;
}
