* {
    padding: 0;
    margin: 0;
}

body {
    background: grey;
    padding: 34px;
}

.card {
    width: 336px;
    background: #ffffff;
}

.card_header {
    background: #efe5aa;
    padding: 24px;
    color: #6e7f7b;
}

.card_price {
    float: right;
    font-size: 36px;
}

.card_title {
    font-size: 24px;
    margin: 0;
}

.card_subtitle {
    font-size: 18px;
}

.card_select {
  height: 42px;
}

.card_select__month {
    width: calc(70% - 16px);
}

.card_input {
    width: 100%;
    border: 1px solid #6e7f7b;
    margin: 8px 0;
    height: 42px;

}

.card_input__cvv {
    width: 100px;
}

.card_main {
    margin: 24px;
}

.card_footer {
    text-align: center;
    padding: 24px;
}